keyboard==0.13.5
numpy==1.22.1
psutil==5.9.0
PyAutoGUI==0.9.53
pyscreeze==0.1.28
pywin32==302
transitions==0.8.10
opencv_python==4.5.5.62
opencv-contrib-python==4.5.5.62
opencv-python-headless==4.5.5.62
pyqt5>=5.15
pyside2>=5.15.2.1
shiboken2>=5.15.2.1
